/* Background */
.loginBackground {
    background-image: url('../Img/blurred-ping-pong-table.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.mainBackground {
    background: linear-gradient(to right, #ededed 80%, #ffff 20%);;
}

.listBackground {
    background-color: #ededed;
}

body {
    font-family: 'Oswald', sans-serif;
}

.margTopContainer {
    margin-top: 10%;
}

#sticky-sidebar {
    position:fixed;
    max-width: 20%;
}

.fontSizeWelcome {
    font-size: 4em;
}

/* Graph color */
.graphBlack {
    background-color: #171820;
}

.graphYellow {
    background-color: #fdc029;
}

.graphOrange {
    background-color: #df861d;
}

.graphRed {
    background-color: #aa3d01;
}


.graphCorner {
    border-radius: 1rem;
}


/* pills color */
.pillsGreen {
    background-color: #a1ae25;
}

.pillsYellow {
    background-color: #fdc029;
}

.pillsOrange {
    background-color: #df861d;
}

.pillsRed {
    background-color: #aa3d01;
}

.textPillsOrange {
    color: #df861d;
}

